<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="SERVICE" value="account-service"/>
    <property name="PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${SERVICE},%X{correlationId:-},%X{httpMethod:-},%X{requestPath:-}] %-40.40logger{39} : %m%n%ex"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.finova.account" level="INFO"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="feign" level="WARN"/>
</configuration>
